
    <div>
        <center>
            <img class="logo" src="~/img/successfulAppointment.png">
        </center>
    </div>

<div class="text-center">
    <h2 class="display-4">Your appointment was submited successfully!</h2>
    <a  class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go to Home Page</a>

</div>