@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">
    <div class="content text-justify">
        <h1 class="text-bold">PRIVACY POLICY</h1></br>
        
        <div class="text">
            Thank you for your interest in PetSpa salons.
            We respect your privacy and will collect and process your Personal Data (as defined in Section 2 of this Policy) 
            in compliance with the applicable legal requirements at all times. We will never rent or sell your Personal Data 
            for marketing or other purposes.
            <ul>
                <li>Visit our websites that links to third privacy notice.</li>
                <li>Engage with us in other related ways, including any sales or commission.</li>
            </ul>
        </div>
        </br>

        <h4 class="text-bold">2. WHAT IS PERSONAL DATA</h4>
        <div class="text-body">
            For the purposes of this Policy, “Personal Data” means information relating to an identified or identifiable individual. 
            This includes Personal Data collected and processed by us when you access our Website and the services related to it. 
            Personal data does not include information of a general nature that does not identify you; for example, the number of users 
            of the Marketplace.
        </div></br>

        <h4 class="text-bold">3. HOW WE PROCESS YOUR INFORMATION</h4>
        <div class="text-body">
           We process your personal info to provide and improve our services, communicate with you, and to comply with law. We may also 
           process your information for other purposes with your consent.
        </div></br>


        <h4 class="text-bold">4. HOW WE KEEP PERSONAL DATA SECURE</h4>
        <div class="text-body">
           We aim to protect your personal information through a system of organizational and technical security measures. However, 
           despite our safeguards and efforts to secure your information, no electronic transmission over Internet or information 
           storage thechnology can be guaranteed to be 100% secure. Although we will do out best to protect your personal information, 
           transmission of personal information to and from our website is at your own risk. You should access our Services wiithin 
           a secure environment.
        </div></br>

        <h4 class="text-bold">5. WEB ANALYSES SERVICES, COOKIES AND OTHER TECHNOLOGIES</h4>
        <div class="text-body">
            9.1 We want to provide you with an optimal and meaningful user experience. Therefore, we use cookies and other technologies 
            on the Website and within our services (a) in order to better understand how our users use the Website and our services; 
            (b) for the optimization of the Website and our services; (c) in order to provide and maintain, to the extent possible and 
            reasonable, a smoothly and accurately functioning Website; as well as (d) for marketing purposes and market research.
           
            Cookies and other technologies help us in many ways to make your visit of the Website more enjoyable and meaningful.

            Cookies are text information files that our web server sends to and places on your computer when you visit the Website. 
            Most browsers accept cookies automatically, but can be configured in their settings not to accept cookies or to indicate
            when a cookie is being sent. For more information please check the help menu of your browser. Some or all of our 
            cookies may be disabled or deleted later. You can either disable our cookies via the browser settings or via the 
            opt-out possibilities as set out in the table under item 8.3 below. Please note that you do not have to accept our 
            cookies in order to use the Website. However, if you opt out of the cookie function, some areas and functions of the 
            Website may be disabled.

            9.2 We use the following types of cookies on the Website for the following purposes:

            (a) Technical cookies

            Cookies that allow the navigation through the Website and the use of different options or services that exist in it, 
            such as allowing the communication of data, identifying your user account, accessing restricted access Website areas, 
            storing products from orders, completing the purchase process of an order or storing content for the broadcast of 
            videos and sound and share content.

            This processing is necessary for the performance of our contract.
        </div></br>

        <h4 class="text-bold">6. COMPLAINTS</h4>
        <div class="text-body">
            If you have any questions, concerns or complaints relating to this privacy policy or PetSpa's privacy/data protection 
            practices.

            You may also lodge complaints with the relevant supervisory authority, depending on your location.
        </div></br>
    </div>
</div>
