
<div>
    <center>
        <img class="logo" src="~/img/happy.png>
    </center>
</div>

<div class="text-center">
    <h2 class="display-4">Your review was submited successfully!</h2>
    <a  class="btn btn-primary" asp-area="" asp-controller="Review" asp-action="All">All Reviews</a>

</div>